[submodule "bitstamp-real-time-price"]
	path = bitstamp-real-time-price
	url = https://github.com/jambtc/bitstamp-real-time-price.git
[submodule "BTCPay"]
	path = BTCPay
	url = https://github.com/jambtc/BTCPay.git
