[submodule "bitstamp-real-time-price"]
	path = bitstamp-real-time-price
	url = https://github.com/jambtc/bitstamp-real-time-price.git
[submodule "BTCPay"]
	path = BTCPay
	url = https://github.com/jambtc/BTCPay.git
[submodule "NaPacks"]
	path = NaPacks
	url = https://github.com/jambtc/NaPacks.git
[submodule "PayPal"]
	path = PayPal
	url = https://github.com/jambtc/PayPal.git
[submodule "Utils"]
	path = Utils
	url = https://github.com/jambtc/Utils.git
[submodule "CodiceFiscale"]
	path = CodiceFiscale
	url = https://github.com/nigrosimone/CodiceFiscale.git
[submodule "crypt"]
	path = crypt
	url = https://github.com/jambtc/crypt.git
[submodule "ethereum"]
	path = ethereum
	url = https://github.com/jambtc/ethereum.git
[submodule "exchanges"]
	path = exchanges
	url = https://github.com/jambtc/exchanges.git
[submodule "gateways"]
	path = gateways
	url = https://github.com/jambtc/gateways.git
